aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
m4
src/.libs
src/Makefile
src/Makefile.in
src/.deps/
src/.dirstamp
src/.libs/
src/*.o
src/*.lo
stamp-h1
