*.a
*.o
*.so
*.swp

a.out
test_contains
test_ends_with
test_index_of
test_indices_of
test_insert
test_lowercase
test_remove
test_remove_each
test_replace_all
test_reverse
test_split
test_substring
test_trim
test_uppercase
