aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in~
config.log
config.status
libtool
ltmain.sh
Makefile
m4
src/.libs
src/Makefile
src/.deps/
src/.dirstamp
src/.libs/
src/*.o
src/*.lo
stamp-h1
